@keyframes spinner-border {
    100% {
        webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

audio::-webkit-media-controls-panel {
    background: linear-gradient(45deg, rgba(121,75,139,1) 0%, rgba(134,31,43,1) 100%);
}

audio::-webkit-media-controls-play-button, audio::-webkit-media-controls-volume-slider, audio::-webkit-media-controls-mute-button {
    color: white;
}

audio {
    width: 220px;
    margin-left: 17.5px;
}

.custom-spinner-radio {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-bottom : 4px;
    vertical-align: text-bottom;
    border: 0.25em solid rgb(0, 0, 0);
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border .75s linear infinite;
}

.radio_png img {
    max-height : 50px;
    max-width: 80px;
    margin-right : 1rem;
    border-radius: 10px;
}

.radio_name, .radio_icon {
    display: inline-block;
    vertical-align: middle;
}

.radio_name {
    padding : 0 1rem;
    color : black;
}

.radio_floating {
    background: rgb(236, 236, 236);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0px 0px 2px rgb(55, 107, 138);
    max-width : 301px;
}

.radio_click_text {
    font-size: 0.8rem;
    color: rgb(62, 62, 194);
    text-align: center;
}

.radio_floating:hover {
    box-shadow: 0px 0px 5px rgb(55, 107, 138);
    cursor: pointer;
}

.radio_icon{
    background: linear-gradient(45deg, rgba(121,75,139,1) 0%, rgba(134,31,43,1) 100%);
    color: rgb(224, 224, 224);
    border-radius: 50%;
    text-align: center;
    height : 70px;
    width: 70px;
}

.radio_icon img {
    margin-top: 9px;
    height : 45px;
    width : 45px;
}

.radio_player {
    visibility: hidden;
    position: absolute;
    bottom : 75px;
    width : 90%;
    border-radius: 10px;
    background: rgb(236, 236, 236);
    transform : translateY(-50px);
    /* border: 1px solid rgb(146, 146, 146); */
    box-shadow: 0px 0px 2px rgb(55, 107, 138);
    opacity: 0;
    transition: all 0.2s;
}

.radio_player:hover {
    box-shadow: 0px 0px 5px rgb(55, 107, 138);
}

.radio_player audio {
    padding-bottom : 1rem;
}

.radio_container {
    /* background: rgb(236, 236, 236);
    border: 1px solid rgb(146, 146, 146);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px; */
    max-width : 301px;
    z-index: 4;
    position : absolute;
    bottom : 20px;
    right: 20px;
    transition: all 0.3s;
}

.radio_select {
    text-align: center;
    width : 100%;
    /* background: linear-gradient(45deg, rgb(22, 22, 22) 0%, rgb(117, 31, 134) 100%); */
    /* background: rgb(180, 180, 180); */
    background: rgba(236, 236, 236, 0);
    border: none;
    border-bottom : 1px solid grey;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    margin-bottom : 5px;
    padding-top : 4px;
    padding-bottom : 4px;
    padding-left: 10px;
    padding-right : 10px;
    transition: all 0.2s;
}

.radio_select:active, .radio_select:focus {
    outline : 0;
}

.radio_select svg {
    margin-left: 0.5rem;
}

.radio_select::after {
    display: none;
}

.dropdown {
    z-index: 5;
}

#radio_choices {
    max-height: 70vh;
    overflow-y: scroll;
    border-radius: 5px;
    z-index: 50;
}

#radio_choices button {
    cursor: pointer;
    padding-top : 10px;
    padding-bottom : 10px;
    padding-left : 1rem;
    margin-right: 3rem;
    border-radius: 5px;
    border-left: 5px solid rgba(93, 67, 126, 0);
    border-bottom : 1px solid rgb(223, 223, 223);
    transition-duration: 0.2s;
}

#radio_choices button:hover {
    box-shadow: -5px 0px 4px rgb(93, 67, 126);
    color : rgb(93, 67, 126);
    background : white;
    border-left: 5px solid rgba(93, 67, 126, 0.74);
    transition-duration: 0.2s;
}

.radio_select:hover {
    background: rgb(201, 201, 201);
    transition: all 0.2s;
}

audio:focus, audio:active {
    border: none;
    outline: 0;
}

.radio_controls_play, .slidecontainer {
    display: inline-block;
    height: 30px;
}

.radio_controls_play svg, .slider {
    vertical-align: middle;
}

.radio_controls_play svg {
    font-size: 1.3rem;
    cursor: pointer;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    height: 15px;
    border-radius: 5px;  
    width: 100%; /* Full-width */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.85; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    border: 1px solid rgb(92, 92, 92);
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius: 50%; 
    background: linear-gradient(45deg, rgba(121,75,139,1) 0%, rgba(134,31,43,1) 100%);
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px;
    border-radius: 50%;
    background: linear-gradient(45deg, rgba(121,75,139,1) 0%, rgba(134,31,43,1) 100%);
    cursor: pointer; /* Cursor on hover */
  }