node_modules
private
config.json
yarn.lock
nohup.out
dist
package-lock.json
.nyc_output
coverage
yarn-error.log
server.key
server.crt

.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*