html, body {
    font-family: 'Poppins', sans-serif;
    /* background: rgb(231, 231, 231); */
    background-image: url('/assets/img/dot-grid.png');
    /* height: 100%; */
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}


#sidebar {
    min-width: 300px;
    max-width: 300px;
    height : auto;
    background: #ebebeb;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
    box-shadow: 1px 1px 3px rgba(93, 67, 126, 0.493);
}

#sidebar.active {
    margin-left: -300px;
}

#sidebar .sidebar-header {
    text-align: center;
    padding-top : 17px;
    padding-bottom : 7px;
    color: #fff;
    background: linear-gradient(45deg, rgba(121,75,139,1) 0%, rgba(134,31,43,1) 100%);
}

#sidebar .sidebar-header h3 svg {
    margin-right : 10px;
}

#command_list_title {
    margin-top : 20px;
    padding-top : 12px;
    padding-bottom : 12px;
    color : #fff;
    text-align: center;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(45deg, rgba(121,75,139,1) 0%, rgba(134,31,43,1) 100%);
    box-shadow: -5px 0px 3px rgb(93, 67, 126);
}

#command_list_title svg {
    margin-right : 10px;
}

.components svg {
    margin-right : 5px;
}

#command_list {
    height : 60vh;
    overflow-y: scroll;
    border-bottom : 1px solid rgba(128, 128, 128, 0.575);
}

#command_list a {
    font-family: 'Poppins', sans-serif;
    padding-left : 30px !important;
    line-height: 20px;
    font-size: 0.9rem !important;
}

#command_list a.active {
    color: rgba(91,26,166,1);
    background: #fff;
    box-shadow: -5px 0px 3px rgb(93, 67, 126);
    border-left: 5px solid rgba(91,26,166,1);
}

#command_list a:first-child {
    margin-top : 5px !important;
}

#command_list a:last-child {
    margin-bottom : 5px !important;
}


#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul li {
    margin-bottom : 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: rgb(61, 61, 61);
    border-left : 5px solid rgba(93, 67, 126, 0);
}

#sidebar ul li a:hover, #sidebar ul li a:focus {
    box-shadow: -5px 0px 4px rgb(93, 67, 126) !important;
    color : rgb(93, 67, 126) !important;
    letter-spacing: 5px !important;
    background : #f0f0f0 !important;
    border-left: 5px solid rgba(93, 67, 126, 0.74) !important;
}

#sidebar ul li.active > a, a[aria-expanded="true"], #website-sidebar ul li.active > a, a[aria-expanded="true"] {
    color: rgba(91,26,166,1);
    background: #fff;
    box-shadow: -5px 0px 4px rgb(93, 67, 126);
    border-left: 5px solid rgb(93, 67, 126);
}


a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.website-btn:hover, .website-add-bot-btn:hover {
    transition: all 0.2s;
    letter-spacing: 2px;
    color: white;
}

.website-btn {
    transition: all 0.2s;
    padding-top : 9px;
    padding-bottom : 9px;
    color : #fff;
    opacity: 0.9;
    text-align: center;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom : 5px;
    border-radius: 5px;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(0deg, rgb(75, 85, 139) 0%, rgb(95, 63, 122) 100%);
    border-bottom : 5px solid rgb(34, 40, 77);
    box-shadow: 1px 1px 3px rgb(108, 98, 165);
}

.website-add-bot-btn {
    padding: 10px;
    border-bottom: 5px solid rgb(27, 75, 32);
    box-shadow: 1px 1px 3px black;
    background: rgb(47, 129, 55);
    z-index: 1;
    transition: all 0.2s;
    padding-top : 9px;
    padding-bottom : 9px;
    color : #fff;
    opacity: 0.9;
    text-align: center;
    width: 80%;
    border-radius: 5px;;
    margin-left : auto;
    margin-right : auto;
    font-weight: bold;
}

.toggleSideMenu {
    position : absolute;
    transition: all 0.1s;
    background: linear-gradient(45deg, rgba(121,75,139,1) 0%, rgba(134,31,43,1) 100%);
    cursor: pointer;
    height: 70px;
    width: 70px;
    z-index: 5;
    margin-left : 300px;
    margin-top : 70px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 1px 0px 3px rgb(93, 67, 126);
}

#sidebarCollapse {
    width: 50px;
    height: 50px;
    margin-top : 9px;
    margin-left: 5px;
    cursor: pointer;
    border-top-right-radius : 20px;
    border-bottom-right-radius: 20px;
    background: #11ffee00;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #fff;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}

#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
    min-width: 350px;
}

.syx_container h1 {
    text-align : center;
    padding-top : 13px;
    padding-bottom : 10px;
    opacity : 0;
    transform : scale(0.5, 0.5);
    color: rgb(44, 44, 44);
    /* box-shadow : -1px 0px 3px rgb(37, 37, 37); */
    margin-top : 2rem;
    width: 85%;
    z-index: 3;
    font-weight: 700;
    letter-spacing: 5px;
    margin-left : auto;
    margin-right: auto;
    border-radius: 5px;
    margin-bottom : 0;
}

.contact-btn {
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    background: linear-gradient(45deg, rgba(121,75,139,1) 0%, rgba(134,31,43,1) 100%);
    border-bottom : 5px solid rgba(71, 45, 82, 0.8);
    box-shadow : 1px 1px 3px rgb(37, 37, 37);
    transition-duration: 0.2s;
    margin-right: 1rem;
}

.contact-btn:hover, .contact-btn:focus {
    transition-duration: 0.2s;
    letter-spacing: 2px;
    /* padding-left: 2rem;
    padding-right : 2rem; */
}

.docs_content {
    margin-top : 1rem;
    width : 75%;
    margin-left : auto;
    margin-right : auto;
    margin-bottom : 4rem;
}

.docs_panel p {
    color: rgb(44, 44, 44);
}

.docs-contact {
    opacity : 0;
    transform: scale(0.5, 0.5);
    background: rgb(235, 235, 235);
    color: rgb(44, 44, 44);
    border-radius: 5px;
    box-shadow : 0px 0px 3px rgb(85, 85, 85);
    margin-top : 1rem;
    max-width: 768px;
    width: auto;
    margin-left : auto;
    margin-right : auto;
}

.docs-contact h3 {
    text-align: center;
    padding-top : 1rem;
    padding-bottom : 1rem;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: 600;
    letter-spacing: 0.2rem;
    background: linear-gradient(45deg, rgba(121,75,139,1) 0%, rgba(134,31,43,1) 100%);
}

.contact-submit-div {
    text-align: center;
    margin-top : 2rem;
}

.contact-submit-div button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left : 5rem;
    padding-right : 5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    cursor: not-allowed;
    opacity: 0.5;
    box-shadow: 0px 0px 2px rgba(134,31,43,1);
    border: none;
    color: #fff;
    background: linear-gradient(45deg, rgba(121,75,139,1) 0%, rgba(134,31,43,1) 100%);
}

.docs_content .docs_panel {
    background: rgb(228, 228, 228);
    color: rgb(44, 44, 44);
    box-shadow : 0px 0px 3px rgb(37, 37, 37);
    border-radius: 5px;
    width: 85%;
    margin-left : auto;
    margin-right : auto;
    padding : 10px;
    text-align: center;
    opacity: 0;
    transform: scale(0.5, 0.5);
}

.docs_content .docs_panel .h5 {
    font-family: 'Bree Serif', serif;
    font-size: 2rem;
}

.contact-mail, .contact-object {
    margin-top : 2rem;
    display: inline-block;
    width: 50%;
    text-align: center;
}

.contact-message {
    text-align: center;
    margin-top : 2rem;
    letter-spacing: 3px;
}

.contact-message label {
    margin-left: 10px;
    margin-right: 10px;
    margin-top : 1rem;
}

.contact-message textarea {
    background: inherit;
    border-color: #B4B4B4;
    border-radius: 4px;
    width : 50%;
    max-width : 400px;
}

.contact-message textarea:hover {
    border-color : #1F1F1F;
}

.contact-message textarea:focus {
    border: 2px solid rgb(43, 88, 160);
    outline: 0;
}

.contact.alert {
    width : 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    transition-duration: 0.5;
}

.contact.alert-success {
    border: 1px solid rgb(95, 146, 107);
    transition-duration: 0.5;
}

.docs_content h4 {
    margin-top : 2rem;
    text-align: center;
    color: rgb(51, 51, 51);
    padding-top : 1rem;
    letter-spacing: 5px;
    border-radius: 5px;
    width: 100%;
}

.docs_content_command {
    width: 40%;
    max-width: 220px;
    margin-top : 2rem;
    margin-left : auto;
    margin-right : auto;
    text-align: center;
    display: inline-block;
    padding-top : 10px;
    padding-bottom : 5px;
    margin-left: 5%;
    cursor: pointer;
}

.div_docs_content_command {
    border-radius: 5px;
    opacity: 0;
    transform: scale(0.5, 0.5);
    display: flex;
    flex-wrap: wrap;
}

.div_docs_content_command a {
    box-shadow: 0px 0px 2px black;
    padding: 0;
    background: rgb(224, 224, 224);
    border-radius: 5px;
}

.docs_content_command h5 {
    color: #fff;
    /* background: rgb(95, 59, 109); */
    background: linear-gradient(45deg, rgb(75, 85, 139) 0%, rgb(95, 63, 122) 100%);
    text-align: center;
    box-shadow: 0px 0px 3px #757575;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-top : 0.75rem;
    padding-bottom : 0.5rem;
    margin: 0;
}

.docs_content_command h5 svg {
    margin-right : 0.5rem;
}

.docs_content_command:hover h5 {
    background: linear-gradient(45deg, rgba(121,75,139,1) 0%, rgba(134,31,43,1) 100%);
}

.docs_content_command:hover {
    background: rgb(245, 245, 245);
}

.docs_content_command:hover, .docs_content_command:focus {
    /* transform: translateY(-20px) */
    transform: scale(1.1, 1.1);
}

.command_desc p:first-child {
    font-size: 0.9rem;
    color : black;
    padding-left: 0.5rem;
    padding-right : 0.5rem;
    padding-top : 1rem;
    vertical-align: middle;
}

.command_desc {
    /* box-shadow: 0px 0px 3px #757575;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; */
    /* background: rgb(224, 224, 224); */
    vertical-align: middle;
    transition: all 0.5s ease-in-out;
    width: auto;
    max-width: 250px;
    overflow: hidden;  
    margin-left : auto;
    margin-right : auto;
    text-align: center;
}

.syx_container h1.load, .docs_panel.load, .div_docs_content_command.load, .docs-contact.load {
    transform: scale(1, 1);
    transition-duration: 1s;
    opacity : 1;
}

.syx_container h1 svg {
    margin-right : 10px;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

/* ---------------------------------------------------
    MEDIA QUERIES
----------------------------------------------------- */
@media screen and (max-width: 1200px) {
    .docs_content .docs_panel {
        width: 90%;
    }
}
@media screen and (max-width: 900px) {
    .contact-submit-div button {
        max-width: 80%;
    }

    .contact-message textarea {
        width : 80%;
    }

    .docs_content {
        width: 90%;
    }

    .docs_content .docs_panel {
        width : 70%;
    }

    #sidebar {
        margin-left: -300px;
    }
    #website-sidebar {
        margin-left: -250px;
    }
    #sidebar.active, #website-sidebar.active {
        margin-left: 0;
        transform: none;
    }
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(5px, 5px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(5px, -5px);
    }


    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
}

@media screen and (max-width: 600px) {
    .contact-mail, .contact-object {
        margin-top : 2rem;
        width: 100%;
        text-align: center;
    }

    .icon_figure {
        display: none;
    }

    /* .radio_figure {
        width : 100%;
    } */
}