@keyframes spinner-border {
    100% {
        webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loading-text{
    50% {
        opacity : 0.1;
    }
    100% {
        opacity : 1;
    }
}

/* ---------------------------- LOADING ---------------------------- */

.loading-table {
    text-align: center;
    height : 97vh;
    width: 100%;
}

.loading-td {
    text-align: center;
}

.loading-td h1 {
    margin-bottom : 2rem;
    font-size : 3rem;
    -webkit-animation: loading-text 1.3s linear infinite;
    animation: loading-text 1.3s linear infinite;
}

.website-loading {
    display: flex;
    align-items: center;
    justify-content: center;
}

.website-container {
    /* width: 100%; */
    height: 100%;
    margin-left: 100px;
    /* display: flex; */
}

.custom-spinner {
    display: inline-block;
    width: 8rem;
    height: 8rem;
    vertical-align: text-bottom;
    border: 0.25em solid rgb(36, 35, 35);
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border .75s linear infinite;
}

.list-group-item {
    color: rgb(45, 69, 116);
    background: rgba(45, 69, 116, 0.082);
    transition: all 0.1s;
}

.list-group a:last-child {
    margin-bottom : 1rem;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.list-group-item:hover {
    color: rgb(18, 39, 82);
    background: rgba(45, 69, 116, 0.3);
    transition: all 0.1s;
}

.btn-home-control {
    background: linear-gradient(45deg, rgba(121,75,139, 0.7) 0%, rgba(134,31,43, 0.7) 100%);
    border-bottom : 5px solid rgba(50, 25, 59, 0.2);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin-left: auto;
    margin-right :auto;
    color: white;
    transition: all 0.2s;
}

.btn-home-control:hover {
    color: white;
    background: linear-gradient(45deg, rgb(121,75,139) 0%, rgb(134,31,43) 100%);
    border-bottom : 5px solid rgba(50, 25, 59, 0.801);
    transition: all 0.2s;
}

/* ---------------------------- SPEECH RECOGNITION ---------------------------- */

.microphone {
    text-align: 'center';
}

.spinner-border {
    width: 3rem;
    height: 3rem;
}

#microphone-btn {
    width: 60px;
    height: 60px;
    background: lightblue;
    border-radius: 50%;
    margin: 6em 0 2em 0;
}

#final {
    color: black;
    border: #ccc 1px solid;
    padding: 1em;
    margin: 1em;
    width: 300px;
}

/* ---------------------------- HOME ---------------------------- */

body {
    font-family: 'Roboto', serif;
    background: rgb(228, 228, 228);
}

#container {
    height : 100%;
}

.home-container {
    max-width: 1500px;
    min-width: 390px;
    width: 100%;
    margin-bottom : 5rem;
    transition: all 0.3s;
}

.home-container, .home-infos-container {
    padding: 0;
    margin-left: auto;
    margin-right : auto;
}