:root {
    --navbar-item-padding: .7rem;
}

/* ---------------------------- NAVBAR ---------------------------- */

.navbar-site {
    min-width: 390px;
    padding-top : 0;
    padding-bottom : 0;
    vertical-align: middle;
}

.nav a:hover {
    text-decoration: none;
}

.my-2, .my-lg-0 {
    margin-top : 0rem !important;
    margin-bottom : 0rem !important;
}

.nav .nav-item {
    /* margin-right: 0.5rem; */
    border-right: 1px solid rgb(63, 63, 63);
    transition-duration: 0.2s;
    /* position: relative; */  
    vertical-align: middle;
    text-align: center;
    border-bottom : 5px solid rgba(0, 0, 0, 0);
    background: rgb(34, 34, 34);
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.navbar-nav .nav-item:hover {
    transition-duration: 0.2s;
    border-bottom : 5px solid rgba(168, 168, 168, 0.418);
    background: rgb(49, 49, 49);
}

.navbar-nav .nav-item.active {
    transition-duration: 0.2s;
    background: rgb(53, 53, 53);
    border-bottom : 5px solid #7148b5;
    color : white;
}

.nav-item p {
    font-family: 'Bree Serif', serif;
    margin : 0;
    font-size: 1rem;
    color :rgb(230, 230, 230);
}

.nav-item.active p {
    color :white;
}

.navbar-collapse .nav-item:first-child {
    border-left: 1px solid rgb(63, 63, 63);
}

.nav-link {
    vertical-align: middle;
    /* margin-top : 5px; */
    /* padding-top : var(--navbar-item-padding);
    padding-bottom : var(--navbar-item-padding); */
    text-align: center;
}

.nav-link svg {
    font-size: 2rem;
}

.navbar-nav {
    flex-direction: initial;
}

.nav-link img, .nav-item img {
    max-height: 36px;
    width: auto;
}

.navbar-brand {
    margin-right : 1rem;
}

.navbar-brand img {
    margin-right: 0.5rem;
}

.navbar {
    background: #20232A;
    line-height: 1rem !important;
}

.username {
    color: rgb(250, 250, 250);
    font-size: 1.1rem;
}

.username svg, .docs-btn svg {
    margin-right: 3px;
}

.discriminator {
    font-size: 0.9rem;
    color: rgb(226, 226, 226);
}

.user-dropdown:active {
    opacity: 0.8;
}

.user-dropdown:focus, .dofus-dropdown:focus {
    outline : 0 !important;
}

.user-dropdown-nav {
    vertical-align: middle;
}

.user-dropdown {
    color: #fff;
    border: none;
    cursor: pointer;
    border-left: 1px solid rgb(63, 63, 63);
    border-right: 1px solid rgb(63, 63, 63);
    padding : .2rem 1rem;
    text-align: center;
    vertical-align: middle;
}

.user-dropdown:hover {
    background: linear-gradient(45deg, rgba(121,75,139,0.3) 0%, rgba(134,31,43,0.3) 100%);
}

.user-dropdown p {
    margin : 0;
}

.user-dropdown svg {
    font-size: 2rem;
}

.user-dropdown-list p {
    font-size : 1rem;
    margin-bottom : 0;
    padding-top : var(--navbar-item-padding);
    padding-bottom : var(--navbar-item-padding);
}

.dropdown-menu {
    padding: 0 !important;
    border-radius: 7px !important;
}

.dropdown-disconnect {
    border-radius: 5px;
    padding-top : 9px;
    padding-bottom : 9px;
    color: rgb(219, 48, 48);
    transition-duration: 0.2s;
}

.dropdown-disconnect:hover {
    cursor: pointer;
    color: rgb(243, 243, 243);
    background : rgb(219, 48, 48);
    transition-duration: 0.2s;
}

.connect-btn {
    background: inherit;
    border-left: 1px solid rgb(63, 63, 63) !important;
    border-right: 1px solid rgb(63, 63, 63) !important;
    color: #fff;
    border: none;
    cursor: pointer;
    /* padding-top : 0.1rem;
    padding-bottom : 0.5rem; */
    padding-left: 1rem;
    padding-right : 1rem;
    transition: all 0.2s;
}

.connect-btn svg {
    font-size: 2rem;
    margin-right: 3px;
}

.connect-btn p {
    color: white;
    margin : 0;
}

.connect-btn:hover {
    background: linear-gradient(45deg, rgba(121,75,139,1) 0%, rgba(134,31,43,1) 100%);
    box-shadow: 0px 0px 10px rgb(160, 45, 45);
    transition: all 0.2s;
}